body {
    font-family: "Lato", sans-serif;
    outline: 10px solid #171C22 ;
    position: fixed;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #E1DAD2;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: #171C22;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #1682CA ;
    color: #F7F5F4;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    outline: 10px solid #171C22 ;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .schema {
    margin-left: 300px;
    margin: 300px;
  }